@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
     <link rel="stylesheet" type="text/css" href="~/Content/Estilo.css" />
    <title>Index</title>
</head>
<body bgcolor="pink">
    <div> 
        <p class="text">INDICE</p>
        <br />
         <div class="text">@Html.ActionLink("Vista String ", "Vista")
        <br />
         @Html.ActionLink("AutoProperty ", "AutoProperty")
        <br />
        @Html.ActionLink("CreateCollection ", "CreateCollection")
        <br />
        @Html.ActionLink("UseExtension ", "UseExtension")</div>
    </div>
</body>
</html>
